@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.view1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    height:50%;
    padding-top: 40px;
    padding-bottom: 40px;
    position:relative;

}
.right1 h2{
    font-size: 5vmin;
    margin-bottom: 5vmin;
    font-family: 'Libre Baskerville', serif;
}
.right1{
  width:80%;
}
.right1 p{
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.5vmin;
    transform: translateX(10%);
}
.left11{
    background:url("https://img.freepik.com/free-photo/creative-people-working-office_23-2147656715.jpg?size=626&ext=jpg&uid=R60976962&ga=GA1.2.1000128795.1690456022&semt=ais");
    background-size: cover; /* Adjust the background image size */
    width: 50%;
    background-position: center;
    position: relative;
    display: flex;
    left:25%;
    height: 100%;
    border-radius: 12px;
    border:0px solid black;
    box-shadow: 0px 0px 10px 2px rgb(8, 148, 229);
}
#readMoreText{
    display: none;

}
#readMoreButton{
    color: white;
    background-color: rgba(6,143,202);
    font-size: 1rem;
    width: fit-content;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
}