@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
#aboutus11{
    background-color:rgba(0, 0, 0);
}
#aboutus1{
    margin-top:20px;
    width: 100%;
    border: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    position: relative;
    transition: 0.5s;
    gap: 20px 20px; 
    overflow: hidden;
    background-color:rgba(0, 0, 0);
    color: white;
}
.left11{
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;

}
.left11 img{
    object-fit: cover;
    width:80%;
}
h2{
    color:#e11546;
    font-family: 'Merriweather', serif;
    font-size:5vmin;
  
  
}
.right1{
   
   position: relative;
   margin-left: 0%;
}
.right1 p{

    font-size: 0.9rem;
font-family: 'Noto Serif', serif;
width:80%;

}
