@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

#Getintouch1 h2{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    color: #000000;
}
.Adressoffics{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,4fr));
    text-align: center;
    gap:1px;
}
#Getintouch1
{
    position: relative;
    margin-top: 12vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Getintouch1 p{
    font-family: 'Cabin', sans-serif;
}
#Getintouch2
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#Getintouch2 p{
    text-align: center;
    font-size: 7vmin;
    width:50%;
}
.property1{
    color: rgba(6, 142, 200, 0.92);
    font-size: 9vmin;
}
.Message_Us{
    position: relative;
    font-size: 3.5vmin;
    background-color: rgb(6,143,202);
    padding: 10px;
    border-radius: 10px;
    top: 3vmin;
    cursor:pointer;
}

#Getintouch{
    position: relative;
    background-color:rgba(193, 58, 58, 0.16);
   
}
#Getintouch span{
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
}
#Getintouch p{
    font-size: 2.5vh;
}
.Adressoffics{
    background-color: rgb(0, 0, 0);
    height: 20%;
   
}
.Adressoffics i
{
    color:#a1a1da;
    background-color: #000000;
    border-radius:50%;
    padding:2.8vmin;
    font-size: 5vh;
}
.data input{
    width:330px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
} 
.Message textarea{
    width:330px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.details button{
    color: rgb(0, 0, 0);
    padding: 1% 20px;
    margin-top: 1%;
    font-size: 18px;}
.details{
    text-align: center;
}
.data {
    display: flex;/*keeps the icons at the middle of the input*/
    align-items: center;
    justify-content: center;/*keeps inputs at the middle of the page*/
}
.data i{
    position: relative;
    font-size: 3.6vmin;
    color: rgb(0, 0, 0);
    left:4.7vmin;
}

input[type=text],input[type=email],input[type=number],input[type=message]
{
    padding-left: 5vmin;
}
textarea
{
    padding-left: 1vmin;
}

.Submit button{
    border:none;
    border-radius: 12px;
    background:rgb(6,143,202);
    cursor: pointer;
}
.officeheads{
    position: relative;
    font-size:large;
    color:rgba(6, 142, 200, 0.92)
}
#Getintouch .officeheads_parent{
    background-color:aliceblue;
    height: 100%;
    padding: 0px 40px;
}
#Getintouch .officeheads{
    color:rgb(6,143,202);
    font-size: 3.8vmin;
}
.data{
    position: relative;
    margin: 20px;
}
.data1{
  left:-10px;
}
#Getintouchparent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
}