@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

#Getintouch1 h2
{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    color: #000000;
}
.Adressoffics
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,4fr));
    text-align: center;
    gap:15px;  
    position: relative;
}

.Adressoffics i
{
    position: relative;
    margin-top: 20px;
}
#Getintouch1
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Getintouch1 p
{
    font-family: 'Cabin', sans-serif;
}
#Getintouch2
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#Getintouch2 p
{

    font-size: 7vmin;
}
.property1
{
    color: rgba(6, 142, 200, 0.92);
    font-size: 9vmin;
}
.Message_Us
{
    position: relative;
    font-size: 3.5vmin;
    background-color: rgb(6,143,202);
    padding: 10px;
    border-radius: 10px;
    top: 3vmin;
    cursor:pointer;
}

.Adressoffics
{
    position: relative;
    margin:0px 10vmin;
}
#Getintouch span
{
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    position: relative;
}
#Getintouch p
{
    font-size: 2.5vh;
}
.Adressoffics
{
    height: 30%;
}
.Adressoffics i
{
    color:rgb(6, 143, 202);
    background-color: #00000001;
    border: 1px solid rgb(244, 6, 6);
    border-radius:50%;
    padding:20px;
    font-size: 5vh;
}
.data input{
    width:330px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #7b64641b;
} 
.Message textarea{
    width:350px;
    height: 140px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #7b64641b;
}
.details button{
    color: rgb(0, 0, 0);
    padding: 1% 20px;
    margin-top: 1%;
    font-size: 18px;}
.details{
    text-align: center;
    padding-bottom: 50px;
}
.data {
    display: flex;/*keeps the icons at the middle of the input*/
    align-items: center;
    justify-content: center;/*keeps inputs at the middle of the page*/
}
.data i{
    position: relative;
    font-size: 22px;
    color: rgb(6, 142, 200);
    left:5vmin
}
.data input{
    display: flex;
    font-size: 17px;
}
input[type=text],input[type=email],input[type=number],input[type=message]
{
    padding-left: 6vmin;
}
textarea
{
    padding-left: 1vmin;
    font-size: 17px;
}

.Submit button{
    border:none;
    border-radius: 12px;
    background:rgb(6,143,202);
    cursor: pointer;
}
.officeheads{
    position: relative;
    font-size:large;
    color:rgba(6, 142, 200, 0.92)
}
#Getintouch .officeheads_parent{
    background-color:aliceblue;
    height: 100%;
    margin-bottom: 50px;
    padding: 0px 40px;
}
#Getintouch .officeheads{
    color:rgb(6,143,202);
    font-size: 3.8vmin;
}
.data{
    position: relative;
    margin: 20px 0px;
}
.data1{
  left:-10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
   -webkit-appearance: none; 
}
