@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
#service
{
    margin-top: 20px;
    position:relative;
    width:70%;
    left:0%;
    overflow:hidden;   
}
#services11{
  background-color: #000000;
  margin-top: 20px;
}
#service h2
{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size:5vmin;
    margin-bottom:4vmin;
    color: #e11546;
}
.service p
{
    font-family: 'Noto Serif', serif;
    color: white;
}
.service  
{
    border: #000000;
    display: flex;
    position: relative;
    transition: 0.5s;
    padding-bottom: 5px;    
}
.service > div 
{
    flex: 0 0 calc(100% / 3 - 40px);
    margin: 0px;
    justify-content: space-between;
    border-radius:5px;
    left: 0%;
    padding:20px 15px;
    margin:0px 5px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.521);
}
.service h4
{
  font-size: 2.4vmin;
  color:rgba(225,21,70,255);
  font-family: 'Libre Baskerville', serif;
}
.service img{
 width:25%;
 border-radius: 5%;
}
.service p
{ 
  font-size: 0.9rem;
}
.service >div:hover 
{
  background: rgba(225,21,70,255);
  transition:background 0.6s linear;
}
.service >div:hover h4
{
   color: #000000;
}
.buttonleft,.buttonright
{
    position: relative;
    margin-top: 70px;
   
}
.buttonleft i{
  position: absolute;
  margin-left: -34px;
}
.buttonleft i,.buttonright i
{
  height: 15px;
  background-color:rgb(0, 0, 0);
  border-radius: 50px;
  border:2px solid rgb(6,143,212); 
  color: #e11547;
  padding: 10px;
  position: absolute;
 
}
.buttonright,.buttonleft{
  cursor: pointer;
}
.services11{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.service{
  width: 100%;
}