*{
    box-sizing: content-box;
    margin: 1px;/*it mentions as width*/
    padding:px;/*acts as a space */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar
{
    background-color: rgb(101, 85, 85);
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    position:sticky;
    top: 0%;
    z-index:1;
}
.navbar__container{
    position:absolute;
 display: flex;/*change center row data as into column data*/
 justify-content: space-between;
 height: 80px;
 z-index: -1;
 width: 20%;/*makes to start from left of the page fo rlogo */
 max-width: 1300px;/*makes the head space with the width*/
left:0%;
padding-top: -20%;

}
.navbar_links{display:flex;padding: 10px ;color: azure;text-decoration: none;/* remove the lines */justify-content: space-between;}
.navbar_btn{display: flex;padding-right: 5px;/*login button will go right side*/text-decoration: none;color: aliceblue;background-color: rgb(91, 198, 19);border-radius: 6px;height: 20px;width: 50px;padding: 15px;padding-left: 20px;padding-top: 10px;}
.navbar_btn:hover{background-color: brown;transition: all 0.3s ease;}
.navbar_links:hover{color: burlywood;transition: all 0.3s ease;}
.imageview{float: inline-start;}
.view{width:50%;overflow-x: hidden;z-index: -1;top:0;position:absolute;/*split the screen into two parts*/padding-top:480px;/*gets data below the image*/}
.left{left: 0;width: 48%;/*taking the width from the left of the screen*/}
.right{right: 0;width: 48%;/*taking the width from the right of the screen*/}
.readmore{background-color: rgb(59, 168, 62);border-radius: 5px;width: fit-content;padding:3px;margin-top:10px ;text-align: center;}
.service{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;text-decoration-line:underline; background-color: rgb(121, 47, 47);
    color: white;display:grid; height:500px;text-align: center;margin-top: 250px;z-index: -1;}
.HOME{left:0;position:absolute;padding-top: 30px;width: 20%;}
.home{padding-left:70px;}
.HOME p{padding-top: 100px;}
.OFFICE{left:25%; position: absolute; width:20%;padding-top: 30px;}
.THEATRE{left:50%;position:absolute;width: 20%;padding-top: 30px;}
.PROPERTY{left:75%;position:absolute;width: 20%;padding-top: 30px;}
.home{height: 10px;width: 100px;}
.TEAM{display: flex;/*works when we need change the position and needadd when we do change the postion of the content has to be changed*/text-align: center;padding-left: 45%;}
.NAME1{text-align: center;display: inline-table;position: absolute;/*changes the position of the while name1 to left side*/left:0%;width:22%;}
.NAME2{text-align: center;position:absolute;display: inline-flex;display: grid;left:27%;width:22%;}
.NAME3{text-align: center;position:absolute;display: inline-flex;display: grid;left:52%;width:22%;}
.NAME4{text-align: center;position:absolute;display: inline-flex;display: grid;left:77%;width:22%;}
.contactus{position:relative; margin-top: 30%;/*to make the backcolor down to exact postion*/padding-top: 3%;/* mkes the parahgagh down*/padding-bottom:4%;text-transform: capitalize;background-color: rgb(52, 98, 98);background-position: 2cap;text-align: center;}
.contus{color: white;margin-top: 2%;background-color: rgb(25, 49, 49);width: 10%;height: 25%;margin-left: 45%;border-radius: 15%;padding-top: 0.5%;padding-bottom: 0.5%;}
.Testimonials{text-align: center;position:absolute;}
.Testimonials1{display: flex;position:absolute;left: 4%;width:30%;margin-top: 5%;background-color:antiquewhite;}
.Testimonials2{display: grid;position:absolute;left: 35.5%;width:30%;margin-top: 5%;background-color:antiquewhite;}
.Testimonials3{display: grid;position: relative;/*makes the same line*/left: 67%;width:30%;margin-top: 5%;background-color:antiquewhite;}
.Touch{position: relative; margin-top:50%;text-align: center;background-color: rgb(153, 211, 153);padding-bottom: 23%;}
.details{display:grid;position:absolute;left:67%; text-align: center;padding-top:2%;width:25%}
.Touch input { margin:2%;padding: 4%;border-radius: 3%;border:none;background-color: blanchedalmond;}
.Touch textarea{color: yellowgreen;padding-bottom: 15%;margin-bottom: 5%;margin-top:2%;width: 90%;margin-left: 2%;padding-left: 5%;}
.Touch button{ width:fit-content;margin-left: 36%;padding:5% 10% 5% 10%;}
.office #Adress/*# can mentioned for id*/
{ position: absolute;left:2%;width: fit-content;}
#Adressdata{outline: none; position: relative;width: fit-content;left: 28%;}
#Phone{position: absolute;left: 25%;width: fit-content;}
#Phonedata{position:relative;left:20.5%;}
#Email{position: absolute;left: 10%;width: fit-content;}
#Emaildata{position:relative;left: 23%; }
.office{ margin-left: 12%;margin-top: 6%;height:25%;position: absolute;}
