@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.Testimonials-list
  {
      text-align: center;   
  }
  .testimon_parent{
    background-color: rgba(0, 0, 255, 0.105);
    padding-bottom: 50px;
  }
  .Testimonials-list h4{
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}
.Testimonials-list p{
  font-family: 'Merriweather', serif;
}
.Testimonials {display:flex;}
.Testimonials p 
   { 
    background:whitesmoke;
    font-family: 'Nunito', sans-serif;

    }
.Testimonials1 { display: flex;flex:0 0 calc(100%/4);}
.checked {color: orange;}
.half{color:black;}
.Testimonials1 p{font-size:1.3vw}
.Testimonials-list h4{font-size:5vmin;}
.customer_name{
  display: block;text-align: center;}