@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.Testimonials-list
  {
     margin-top: 5%; 
     margin-bottom: 2%;
      text-align: center;
  }
  .Testimonials-list h4{
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}
.Testimonials-list p{
  font-family: 'Merriweather', serif;

}
.Testimonials
  {
    display:flex;
    text-align: center; 
    gap:10px;  margin:30px;
    
  }
.Testimonials p 
   { 
    margin: 8%;
     font-family: 'Ysabeau Infant', sans-serif;
    }
.Testimonials1
{ 
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.114) 25%,rgba(255, 255, 255, 0.989));
    display: flex;flex:0 0 calc(100%/4);
    border-radius: 12px;
}

.checked {
    color: orange;
}
.half{
    color:black;
}

.Testimonials1 p{font-size:1.3vw}
.testimon{overflow-x: hidden;overflow-y: hidden;}

.Testimonials1:hover
 {
  background: whitesmoke;
    transform:scale(1.2)
 }
 .Testimonials-list h4{
  font-size:5vmin;
 }