@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.visitus{
    background-color: #ffffff;
    padding:20px; 
}

.visitus .visituspara{
    font-family: 'Noto Serif', serif;  
    width: 95%;
    margin:0 auto;
    text-align: center;
}
.visit_button 
{
    font-family: 'Noto Serif', serif;  
    position: relative;
    display:block;
    width: 15vmin;
    margin: 0px auto;
    text-align: center;
    margin-top: 2vmin;
    padding: 10px;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 1.2rem;
    border-radius:10px;
}
.visit_button:active{
   transform: scale(0.9);
   transition: transform 0.2s ease-in;
}
